<!DOCTYPE html>
<html>
  <head>
    <title>Chat Bot App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="header-logo">
      <%= link_to("Chat Bot App", "/") %>
    </div>

  </header>
    <%= yield %>
  </body>
</html>
